<script>
    function startTimer(end, counter, text) {
    var diff,
        minutes,
        seconds;
    function timer() {
        diff = (end - Date.now()) / 1000;
        diff = diff < 0 ? 0 : diff

        days = diff / (24 * 60 * 60) | 0;
        diff -= days * (24 * 60 * 60) | 0;
        hours = diff / (60 * 60) | 0;
        diff -= hours * (60 * 60) | 0;
        minutes = (diff / 60) | 0;
        seconds = (diff % 60) | 0;

        if(days === 0 && hours === 0 && minutes === 0 && seconds === 0){
            
            counter.className = "timer-finished";
            counter.textContent = ""; 
            
            text.className = "text-finished";
            text.textContent = "The IOL2024 has begun!";
        }else{
            hours = hours < 10 ? "0" + hours : hours;
            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

            counter.className = "timer";
            counter.textContent = days + "d " + hours + "h " + minutes + "m " + seconds + "s"; 
            
            text.className = "text-";
            text.textContent = "to the Opening of IOL 2024";
        }
    };
    timer();
    setInterval(timer, 1000);
}

window.onload = function () {
    var end = new Date('2024-07-24T19:00:00'),
        counter = document.querySelector('#countdown-timer'),
        text = document.querySelector('#countdown-text');;
    startTimer(end, counter, text);
};
</script>
<style>
header {
    display: none
}

footer { 
    display: none
}

.timer-finished {
    display: none
}

.text-finished {
    {% if full_page == "true" %}
    padding-top: 50px;
    font-size: 70px;
    {% else %}
    padding-top: 0px;
    {% endif %}
}

.text- {

}

.timer {
    {% if full_page == "true" %}
    font-size: 70px;
    line-height: 70px;
    padding-top: 50px;
    padding-bottom: 80px;
    {% else %}
    font-size: xx-large;
    {% endif %}
}

.timer-wrapper {
    font-variant-numeric: tabular-nums;
    {% if full_page == "true" %}
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 40px;
    {% else %}
    margin-left: 40px;
    font-size: x-large;
    {% endif %}
    
}

a {
    color: var(--primary-text-color) !important;
    text-decoration: none !important;
}

.content {
    max-width: 100% !important;
    width: 100%;
}
.heading-text {
    display: none !important;
}
</style>

{% if full_page == "true" %}
<div class="timer-wrapper">
    <div id="countdown-timer" class="timer"></div> 
    <div id="countdown-text" class="text-">to the Opening of IOL 2024</div>
</div>
{% else %}
<div class="timer-wrapper">
    <a href="/countdown">
        <span id="countdown-timer" class="timer"></span> <span id="countdown-text" class="text-">to the Opening of IOL 2024</span>
    </a>
</div>
{% endif %}