{% set data = load_data(path="static/schedule.toml") %}
<style>
  .grid-container {
    display: flex;
    font-size: 0.7rem;
    line-height: 0.7rem;
    overflow-x: auto;
  }

  .week-day {
    display: flex;
    min-width: 80px;
    height: 12px;

    padding:2px;
    text-align: center;
    background-color: #f9bebe;
    border: 1px solid var(--primary-text-color);
    span {
        flex-grow: 1;
        align-self: center;
    }
}

  .day-row {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
  }
  .time-row {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  .time-interval {
    display: flex;
    text-align: center;
    padding: 1px;
    background-color: #b9d9f9;
    span {
        flex-grow: 1;
        align-self: center;
    }
    position: relative;
    height: 20px;
  }

  .time-divider {
    position: absolute;
    top: 11px;
    width: 806px;
    z-index: -999;
    
    height: 1px;
    background-color: rgb(230, 230, 230);
  }

  .activity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 84px;
    border: 1px solid var(--iol-yellow);
    position: absolute;
  }

  .activity-time-interval {
    top: 0;
    z-index: 9999;
    position: absolute;
    font-size: 6px;
    line-height: 5px;
  }

  .activity-location {
    font-size: 8px;
  }
</style>


<div class="grid-container">
  <div class="time-row">
    <div class="time-interval" style="max-height: 5px">
      </div>
    {% for time in data.timevalues %}
      <div class="time-interval">
        <span> {{ time.time }}</span>
        <div class="time-divider"></div>
      </div>
    {% endfor %}
    
  </div>
  {% for day in data.days %}
  <div class="day-row">
    <div class="week-day"><span>{{ day.weekday }}, {{ day.name }}</span></div>
    {% for activity in day.activities %}
    <div class="activity" 
    style="top: {{ (activity.start - 6) * 22 + 18}}px; 
    height: {{ activity.duration * 22}}px;
    {% if activity.background %}
    background-color: {{ activity.background }};
    {% else %}
    background-color: #ffd684;
    {% endif %}"
    >
        <div class="activity-time-interval"> {{ activity.interval }} </div>
        <div
        style="
        {% if activity.duration < 2 %}
        font-size: 8px;
        line-height: 9px;
        {% endif %}"
        >{{ activity.name | safe }}</br></div>
        
        {% if activity.location %}
            <div class="activity-location"
            style="
            {% if activity.duration < 2 %}
            font-size: 5px;
            line-height: 6px;
            {% endif %}"
            > {{ activity.location }}</div>
        {% endif %}
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>
