{% set data = load_data(path="static/schedule.toml") %}
<style>
  @media screen and (min-width: 1280px) {
  .content {
    max-width: 70%;
    min-width: 800px;
  }
}

  .grid-container {
    display: flex;
    font-size: 0.7rem;
    line-height: 0.7rem;
    overflow-x: auto;
    overflow-y: hidden;
    min-height: 1100px;
    max-width: 900px;
  }

  .week-day-container {
    display: flex;
    min-height: 38px;;
    min-width: 140px;
    position: relative;
  }

  .week-day {
    flex-grow: 1;
    min-width: 140px;
    height: 36px;
    text-align: center;
    background-color: #f9bebe;
    border: 1px solid var(--primary-text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

  .day-row {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  .activity {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 140px;
    border: 1px solid var(--iol-yellow);
    &:first-child {
        margin-bottom: auto;
    }
  }

  .activity :first-child{
    margin-bottom: auto;
  }

  .activity :last-child{
    margin-bottom: auto;
  }

  .activity-time-interval {
    position: relative;
    align-self: flex-start;
    font-size: 8px;
    line-height: 8px;
    font-weight: bold;
  }

  .activity-location {
    font-size: 8px;
  }

  .long {
    width: 282px;
    position: absolute;
    z-index: 99;
  }

  .tall {
    height: 299px;
  }

  .very-tall {
    height: 297px;
  }

  .short {
    height: 36px;
  }

  .normal-height {
    height: 150px;
  }

  .activity-text-container {
    margin: 0 auto;
    max-width: 90%;
  }
</style>


<div class="grid-container">
  {% for day in data.days %}
  <div class="day-row
  ">
    <div class="week-day-container">
        {% if day.name %}
        <div
            class="
            week-day
            {% if day.long %}
            long
            {% endif %}"
            >
            {{ day.name }}
            {% if day.location %}
            <br>
            <span style="font-size: 10px">
                {{ day.location }}
            </span>
            {% endif %}
        </div>
        {% endif %}
    </div>
    {% for activity in day.activities %}
    <div style="position: relative;"
    class="
        {% if activity.short %}
        short
        {% elif activity.verytall %}
        very-tall
        {% else %}
        normal-height
        {% endif %}">
        <div class="activity
        {% if activity.long %}
        long
        {% endif %}
        {% if activity.tall %}
        tall
        {% endif %}
        {% if activity.short %}
        short
        {% endif %}
        {% if activity.verytall %}
        very-tall
        {% endif %}"
        
        style="
        {% if activity.background %}
        background-color: {{ activity.background }};
        {% else %}
        background-color: #fffa96;
        {% endif %}"
        >
            <div class="activity-time-interval"> {{ activity.interval }} </div>
            <div class="activity-text-container"
            style = "
            {% if activity.small_text %}
            font-size: 8px;
            {% endif %}
            ">
            <div
            >{{ activity.name | safe }}</br></div>
            
            {% if activity.location %}
                <div class="activity-location"
                > <br>{{ activity.location | safe}}</div>
            {% endif %}
        </div>
        </div>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>