{% macro render_header() %}
{% set section = get_section(path="_index.md") %}
<a href="/">
    <div class="logo">
        <img src="/{{ config.extra.juice_logo_path }}" alt="logo">
        <span>{{ config.extra.juice_logo_name }}</span>
    </div>
</a>

<nav style="display: flex; justify-content: center; flex-wrap: wrap;">
    {% for page in section.pages %}
    {% set exclude_menu = config.extra.juice_exclude_menu | default(value=[]) %}
    {% if exclude_menu is not containing(page.title) %}
    <a class="nav-item subtitle-text" href="/{{ page.slug| safe }}">{{ page.title }}</a>
    {% endif %}
    {% endfor %}
    {% if config.extra.juice_extra_menu %}
        {% for menu in config.extra.juice_extra_menu %}
        <a class="nav-item subtitle-text" href="{{ menu.link | safe }}">{{ menu.title }}</a>
        {% endfor %}
    {% endif %}
    <a class="nav-item subtitle-text" href="https://prof.iol2024.org/">Teachers</a>
</nav>
{% endmacro render_header %}
