<style>
  :root {
    /* IOL 2024 background */
    --primary-color: #FFFFF0;
    /* IOL 2024 red */
    --primary-text-color: #A62121;
    /* IOL 2024 yellow */
    --primary-text-color-over: #FFB219;
    --toc-highlight-text-color: #FFB219;
    /* IOL 2024 green, but darker */
    --primary-link-color: #55C11F;

    /* Juice defaults */
    --secondary-color: #fcfaf6;
    --secondary-text-color: #303030;
    --toc-background-color: white;
    --code-color: #4a4a4a;
    --code-background-color: white;
    --shadow-color: #ddd;

    /* IOL 2024 Fonts */
    --header-font-family: 'Neris', sans-serif;
    --text-font-family: 'Neris', sans-serif;
  }
</style>
