{% extends "juice/templates/index.html" %}

{% block stylesheets %}
  <link rel="stylesheet" href="/styles.css">
{% endblock stylesheets %}

{% block favicon %}
<link rel="icon" type="image/png" href="/favicon.png" />
{% endblock favicon %}

{% block fonts %}
<link href="https://fonts.cdnfonts.com/css/neris" rel="stylesheet" />
{% endblock fonts %}

{% block hero %}
<div id="header-margin"></div>
<section class="text-center" style="margin-top: 0px">
  <img class="hero-image" style="width: 60%" src="/logo.svg"/>
</section>
<section class="text-center" style="margin-top: 15px; background-color: #8ae55c; width: 100%; padding: 0px;">
  <div class="urucum-divider"></div>
  <h1 class="heading-text, hero-heading" style="border: none; font-size: 26px; margin-top: 8px">
    ENCONTRO DE PROFESSORES
  </h1>
  <h2 class="title-text" style="margin-top: -0.3em; font-size: 18px">
    DA OLIMPÍADA INTERNACIONAL DE LINGUÍSTICA
  </h2>
  <h2 class="title-text" style="font-style: italic; font-size: 15px">
    <em>
    Língua, Diversidade e Aprendizagem Ativa na sala de aula
    </em>
  </h2>
  <h3 class="title-text" style="font-size: 15px">
    <span style="color: #ffffff; font-weight: 600;">
    23-25 de Julho | UnB
    </span>
  </h3>
</section>
<div style="background-color: #a62121; width: 100%; height: 3px"></div>
<script type="text/javascript">
      headerHeight = document.getElementById("header").clientHeight;
      const marginElement = document.getElementById("header-margin");
      marginElement.style.height = (headerHeight - 55) + "px";
</script>
{% endblock hero %}



{% block content %}
{{ section.content|safe }}
{% endblock content %}

{% block footer %}
<style type="text/css" rel="stylesheet">
  .footer_social_media_logo {
    align-self: center;
    align-items: center;
    height: 25px;
    filter: brightness(0) invert(1);
  }

  .footer_sponsor_box {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
  }

  .footer_sponsor_logo {
    align-self: center;
    height: 120px;
    filter: brightness(0) invert(1);
  }

  @media ( max-width: 815px ) {
    .footer_sponsor_box {
      flex-direction: column;
    }
    .footer_sponsor_logo {
      max-height: 120px;
      max-width: 99%;
    }
  }
</style>

<footer style="padding-bottom: 10px">
  <a href="https://ioling.org/">
    <img class="footer_sponsor_logo" src="/footer/logo_iol.png" />
  </a>
  <h1 style="border: 0px; font-weight: bold; font-size: xx-large">Support</h1>
  <div class="footer_sponsor_box">
    <a href="https://obling.org/">
      <img class="footer_sponsor_logo" src="/footer/logo_obl.png" />
    </a>
    <a href="https://institutovertere.org/">
      <img class="footer_sponsor_logo" src="/footer/logo_vertere.svg" style="height: 50px" />
    </a>
    <a href="https://www.unb.br/">
      <img class="footer_sponsor_logo" src="/footer/logo_unb.png" />
    </a>
    <a href="https://www.abralin.org/site/">
      <img class="footer_sponsor_logo" src="/footer/logo_abralin.svg" style="height: 120px" />
    </a>
  </div>
  <h1 style="border: 0px; font-weight: bold; font-size: xx-large">Sponsors</h1>
  <div class="footer_sponsor_box">
    <a href="https://www.aclweb.org/portal/">
      <img class="footer_sponsor_logo" src="/footer/logo_acl.png" />
    </a>
    <a href="https://www.gov.br/mcti/pt-br">
      <img class="footer_sponsor_logo" src="/footer/logo_mcti.svg" />
    </a>
  </div>

  <h2>© 2024 - International Linguistics Olympiad</h2>
  <div class="footer_sponsor_box" style="width: 100%; flex-direction: row">
    <a
      href="https://www.instagram.com/ioling.official"
      style="align-items: center; align-content: center"
    >
      <img class="footer_social_media_logo" src="/footer/instagram_logo.png" />
    </a>
    <a href="mailto:iol2024@obling.org">
      <img class="footer_social_media_logo" src="/footer/email_logo.png" />
    </a>
    <a href="mailto:iol2024@obling.org"> iol2024@obling.org </a>
  </div>
</footer>
{% endblock footer %}
