{% extends "juice/templates/index.html" %}
{% block favicon %}
<link rel="icon" type="image/png" href="/favicon.png">
{% endblock favicon %}

{% block fonts %}
<link href="https://fonts.cdnfonts.com/css/neris" rel="stylesheet">
{% endblock fonts %}

{% block hero %}
<section class="text-center">
  <img class="hero-image" src="/logo.svg" style="width: 320px" />
  <h1 class="heading-text" style="font-size: 40px">
    For the first time in the Southern Hemisphere.
  </h1>
  <h3 class="title-text">
    XXI International Linguistics Olympiad
  </h3>
</section>
{% endblock hero %}

<!-- {% block footer %}
<footer>
</footer>
{% endblock footer %} -->
